/* ====== QR Code في الأسفل ====== */
.zatca-qr-bottom {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.zatca-qr-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    aspect-ratio: 1 / 1;
    display: block;
    image-rendering: crisp-edges;
}
